<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Piano Play</title>
</head>
<body>
  <div class="content">
    <section class="main">
      <h1 class="title">Piano Play</h1>
      <h2>Let's make some music!</h2>
      <svg class="piano" width=930 height=300>
        <rect class="white-key" x="10" y="5" rx="6" ry="6" width="50" height="250"></rect>
        <rect class="white-key" x="60" y="5" rx="6" ry="6" width="50" height="250"></rect>
        <rect class="white-key" x="110" y="5" rx="6" ry="6" width="50" height="250"></rect>
        <rect class="white-key" x="160" y="5" rx="6" ry="6" width="50" height="250"></rect>
        <rect class="white-key" x="210" y="5" rx="6" ry="6" width="50" height="250"></rect>
        <rect class="white-key" x="260" y="5" rx="6" ry="6" width="50" height="250"></rect>
        <rect class="white-key" x="310" y="5" rx="6" ry="6" width="50" height="250"></rect>
        <rect class="white-key" x="360" y="5" rx="6" ry="6" width="50" height="250"></rect>
        <rect class="white-key" x="410" y="5" rx="6" ry="6" width="50" height="250"></rect>
        <rect class="white-key" x="460" y="5" rx="6" ry="6" width="50" height="250"></rect>
        <rect class="white-key" x="510" y="5" rx="6" ry="6" width="50" height="250"></rect>
        <rect class="white-key" x="560" y="5" rx="6" ry="6" width="50" height="250"></rect>
        <rect class="white-key" x="610" y="5" rx="6" ry="6" width="50" height="250"></rect>
        <rect class="white-key" x="660" y="5" rx="6" ry="6" width="50" height="250"></rect>
        <rect class="white-key" x="710" y="5" rx="6" ry="6" width="50" height="250"></rect>
        <rect class="white-key" x="760" y="5" rx="6" ry="6" width="50" height="250"></rect>
        <rect class="white-key" x="810" y="5" rx="6" ry="6" width="50" height="250"></rect>
        <rect class="white-key" x="860" y="5" rx="6" ry="6" width="50" height="250"></rect>
        
        <rect class="black-key" x="45" y="5" rx="6" ry="6" width="30" height="150"></rect>
        <rect class="black-key" x="95" y="5" rx="6" ry="6" width="30" height="150"></rect>
        <rect class="black-key" x="145" y="5" rx="6" ry="6" width="30" height="150"></rect>
        <rect class="black-key" x="245" y="5" rx="6" ry="6" width="30" height="150"></rect>
        <rect class="black-key" x="295" y="5" rx="6" ry="6" width="30" height="150"></rect>
        <rect class="black-key" x="395" y="5" rx="6" ry="6" width="30" height="150"></rect>
        <rect class="black-key" x="445" y="5" rx="6" ry="6" width="30" height="150"></rect>
        <rect class="black-key" x="495" y="5" rx="6" ry="6" width="30" height="150"></rect>
        <rect class="black-key" x="595" y="5" rx="6" ry="6" width="30" height="150"></rect>
        <rect class="black-key" x="645" y="5" rx="6" ry="6" width="30" height="150"></rect>
        <rect class="black-key" x="745" y="5" rx="6" ry="6" width="30" height="150"></rect>
        <rect class="black-key" x="795" y="5" rx="6" ry="6" width="30" height="150"></rect>
        <rect class="black-key" x="845" y="5" rx="6" ry="6" width="30" height="150"></rect>
      </svg>
      <div class="key-labels">
        <div class="key-label">A</div>
        <div class="key-label">S</div>
        <div class="key-label">D</div>
        <div class="key-label">F</div>
        <div class="key-label">G</div>
        <div class="key-label">H</div>
        <div class="key-label">J</div>
        <div class="key-label">K</div>
        <div class="key-label">L</div>
        <div class="key-label">Q</div>
        <div class="key-label">W</div>
        <div class="key-label">E</div>
        <div class="key-label">R</div>
        <div class="key-label">T</div>
        <div class="key-label">Y</div>
        <div class="key-label">U</div>
        <div class="key-label">I</div>
        <div class="key-label">O</div>

      </div>
    </section>
  </div>
</body>
</html>
