// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.main {
  height: 75%;
  width: 75%;
  margin: auto;
}

.white-key {
  stroke: #9f0ae4;
  stroke-width: 2;
  fill: aquamarine;
}

.black-key {
  stroke: #9f0ae4;
  stroke-width: 2;
  fill: rgb(13, 35, 230);
}