.main {
  height: 75%;
  width: 75%;
  margin: auto;
  text-align: center;
  position: relative;
}

.white-key {
  stroke: #9f0ae4;
  stroke-width: 2;
  fill: aquamarine;
}

.black-key {
  stroke: #9f0ae4;
  stroke-width: 2;
  fill: rgb(13, 35, 230);
}

.key-labels {
  position: absolute;
  top: 80%;
  left: 15.2%;
  width: 862px;
  display: flex;
  justify-content: space-between;
  font-family: Courier New, monospace;
}

.key-labels div {
  font-size: 19;
}