.main {
  width: 1500px;
  margin: auto;
  text-align: center;
  position: relative;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.title {
  font-size: 36px;
}

.white-key {
  stroke: #9f0ae4;
  stroke-width: 2;
  fill: aquamarine;
}

.black-key {
  stroke: #9f0ae4;
  stroke-width: 2;
  fill: rgb(13, 35, 230);
}

.key-labels {
  position: absolute;
  top: 335px;
  left: 313px;
  width: 867px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  font-family: Courier New, monospace;
}

.key-label {
  font-size: 26px;
}